.contact-section {
    padding: 40px 0;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center;
}

.image-container {
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
}

.btn {
    background-color: #007bff;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}
.tech_img {
    width: 100px;
    height: 100px;
    padding: 0; 
    margin-top: 50px; 
  }
  
  .scroll_image {
    padding: 0; /* Remove padding from the container */
    margin: 0; /* Remove any margin from the container */
  }
  .swiper-slide {
    display: flex;
    justify-content: center; /* Center images within slides */
    align-items: center;
  }
    
@media screen and (max-width: 576px) {
    .tech_img{
        width: 50px!important;
        height: 50px!important;
        margin-top: 40px!important;
        margin-right: 100px!important;
    }     
}
