@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Macondo&family=Patrick+Hand&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.card img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 18rem!important;
    height: 27rem!important;
    padding: 1em;
    margin: auto!important;
    margin-bottom: 2em!important;
    position: relative;
    overflow: hidden; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease-in-out;
    background: #eae6e6;
}
.card:hover {
    transform: scale(1.03) !important;
    cursor: pointer;
  }

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.project_name{
    font-family: "Space Grotesk", sans-serif!important;
    color: #eee7e7;
    text-align: center;
}
.underline{
    background-color: #FFD700;
    width: 14rem;
    height: 0.2rem;
    margin-bottom: 3rem!important;
    margin: auto;
}


.card-info {
    padding-top: 10%;
}

.project_container{
    justify-content: center!important;
    align-items: center!important;
    padding: 6em 9em!important;
    background-color: #000!important;
}

svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.card-footer a, .card-footer a:hover{
    color:#252525!important;
    text-decoration: none;
}
.card-footer a:hover, .card-footer .text-title:hover{
    color: #b79d09;
}

.text-title {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif!important;
}

.text-body {
    font-size: 0.8em;
    padding-bottom: 10px;
    font-family: "Space Grotesk", sans-serif!important;
}

.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card-button:hover {
    border-color:#FFD700;
    background-color: #FFD700;
}

.card-img:hover {
    transform: translateY(-5%); 
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}


@media screen and (max-width:576px) {
    .card {
        width: 18rem!important;
    }
    .project_container{
        justify-content: center!important;
        align-items: center!important;
        padding: 6em 2em!important;
    }
    .project_name{
        font-size: 22px!important;
    }
    .text-title {
        font-weight: 700;
        font-size: 1em;
    }
    .text-body{
        font-size: 0.85em;
    }
}
